!------------------------------------------------------------------------------------
! This is the input file for the ANOPP Complete Prediction using ANOPP modules to
! predict noise. The output of this prediction method is what is with the ANOPP
! Prediction module.
!------------------------------------------------------------------------------------
&AnoppCompleteNamelist

  ! Specify the ANOPP executable to be used including the path.  The ANOPP executable
  ! should be located in the current directory.
  strExecutableFileName = "anopp.exe"

  ! This is the input deck that contains the sound sources and the propagation to the 
  ! observer positions.  This includes all noise sources and their propagation (a 
  ! complete prediction).
  strInputDeck = "Takeoff-Complete.inp"

  ! ANOPP Output File name.  Once ANOPP is executed, the output of ANOPP is copied to
  ! this file name.  A user may peruse this filename if they wish to see how ANOPP 
  ! was executed and any additional output it may provide.
  strOutputFileName = "TubeAndWing-Simple.out"

  ! Specify whether you want the ANOPP Input Deck to be created by ANOPP2 (.TRUE.) or
  ! if the input deck is already available and you want to use it (.FALSE.). This is 
  ! helpful if you just want ANOPP to execute an already existing deck (useful for 
  ! debugging).
  blnOverwriteInputDeck = .TRUE.

  ! This is a list of strings that are the names of th files to be parse after ANOPP
  ! is executed.  These names must correspond to the names of the LEVOUT parameter 
  ! in the ANOPP input deck.  These are the names of the results to be taken out of 
  ! the ANOPP run. The order matters.
  strLevFilenames = "TOTAL.OUT", "ENGINE.OUT", "AIRFRAME.OUT"

  ! This is the flag that turns on metadata for this module.  Metadata for the ANOPP
  ! Complete prediction module includes the geometric emission angles as a function 
  ! of time.  This is written out by ANOPP if the IPRINT parameter is set to 3 right
  ! before the EXECUTE GEO command in the input deck.  If that is set and this flag
  ! is set to true, a Metadata folder will be created, and a file containing the 
  ! emission angles as a function of reception time will be written out.
  blnWriteMetadata = .TRUE.

  ! This is the name of the metadata file being written out.
  strMetadataFileName = 'EmissionAngles.txt'

/
