!------------------------------------------------------------------------------------
! This is the namelist that defines the ground observer positions that will be passed 
! to ANOPP during execution.  This configuration is for several observer positions 
! along the sideline of a takeoff flightpath.
!------------------------------------------------------------------------------------
&ObserverPointCloudNamelist
 
  ! Since our microphone is stationary, this parameter is 0, meaning the microphone 
  ! is not moving within the ground frame of reference.
  nFrameChanges = 0

/
  !----------------------------------------------------------------------------------
  ! The point will be anywhere along the sideline of the takeoff maneuver.  The line 
  ! is 1476 feet (or 449.8848 meters) to the side of the flight path.  The OpenMDAO 
  ! is expected to locate the the observer position at which maximum EPNdB is found. 
  !----------------------------------------------------------------------------------
  &PointCloudNamelist
  
    ! This is the number of nodes.
    nNodes = 1
    
  /
  2410.0, 449.8848, 0.0

